<!DOCTYPE html>
<html>
  <head>
    <title><%= movie_title %></title>
    <!-- <link rel="stylesheet" href="home.css"> -->
  </head>

  <body>


    <h1><%= movie_title %></h1>
    <table>
      <tr>
        <td> Genre:</td>
        <td><%= movie_info[0]["genre"] %></td>
      </tr>
      <table>
        <tr>
          <td> Studio:</td>
          <td><%= movie_info[0]["studio"] %></td>
        </tr>
    </table>


    <table>
      <% movie_info.each do |hash| %>
      <tr>
        <td><%= hash["actors"] %></td>
        <td><%= hash["role"] %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
